<div class="jumbotron">
    <div class="container">
      <h1 class="display-3">Mes séances !</h1>
      <h2>Liste de mes séances sur SMT</h2>
    </div>
  </div>
  <div class="container">
    <div class="container container-list">
      <form>
        <div class="form-group">
            <input (keyup)="search($event)" id="searchAccount" class="form-control" type="text" placeholder="Filtrez par nom, résumé ou type de sport">
        </div>
      </form>
      <ul class="list-group">
        <li *ngFor="let workout of listworkout" 
          class="list-group-item"
          [class.active]="workout === workoutSelected"
          (click)="onSelect(workout)">
          <span>{{ getDateFormat(workout.date) }}</span>
          <span>{{ workout.name }}</span>
          <br>
          <span class="badge badge-success">{{ getTypeSport(workout.typeSport) }}</span>
        </li>
      </ul>
    </div>
  
    <div *ngIf="workoutSelected" class="container container-details">
        <div class="left">
          <h3> {{ workoutSelected.name }} </h3>
          <p class="badge badge-success">Type de sport : {{ getTypeSport(workoutSelected.typeSport) }}</p>
          <p>Date : {{ getDateFormat(workoutSelected.date) }}</p>
          <p>Resumé : {{ workoutSelected.resume }}</p>
  
          <p class="action">
            <a>Voir la séance</a>
            <a (click)="delete($event,workoutSelected)"  class="btn btn-danger" href="#">Supprimer la séance</a>
          </p>
        </div>
        <!--<div class="right">
          <img *ngIf="!accountSelected.photo" id="imgAccount" src="./assets/images/no_picture.png" alt="account picture" class="img-thumbnail">
          <img *ngIf="accountSelected.photo" id="imgAccount" [src]="cleanURL(accountSelected.photo)" alt="photo de profil" class="img-thumbnail">
        </div>-->
    </div>
  </div>