.container .row .bloc > div{
    display:inline-block;
    margin-left:5%;
    vertical-align: top;
}
.container .row .bloc{
    border-radius: .25rem;
    padding: .75rem 1.25rem;
    border: 1px solid rgba(0,0,0,.125);
}
img{
    width:200px;
    float:right;
    position:relative;
}