.container-list{
    width:30%;
    margin-right:2%;
    float:left;
}

.container-list li{
    cursor: pointer;
}

.container-details{
    width: 60%;
    float:left;
    text-align:left;
    border: 1px solid black;
    border-radius: .25rem;
    padding: .75rem 1.25rem;
    border: 1px solid rgba(0,0,0,.125);
}
.container-details h3{
    margin-bottom:25px;
    color:#369;
}
.container-details .action{
    margin-top:25px;
}
.container-details .left{
    position: relative;
    float: left;
}
.container-details .right{
    position: relative;
    float: right;
}
.container-details img{
    width:100px;
}
