.container{
    padding:50px;
}
.containerLeft{
    width:65%;
    margin-right:2%;
    float:left;
}
.containerLeft .bloc{
    margin-bottom:50px;
    clear:both;
    margin-top:15px;
}

.containerRight{
    width:30%;
    float:left;
    border-left:1px solid gray;
}
.containerRight .bloc{
    margin-bottom:50px;
}

.validationForm .alert, .validationForm > button{
    float:left;
}
.validationForm .containerAlert{
    margin-left:5px;
    position:relative;
    float:left;
    width:70%;
    height:38px;
}
.containerRight .containerAlert{
    width:100%;
    margin-top:10px;
}
#imgAccount{
    float:right;
    position:relative;
    width:200px;
}
#formAccount{
    clear:both;
}