<div *ngIf="account">
  <div class="jumbotron">
      <div class="container">
        <h1 class="display-3"> Modifier mes informations</h1>
        <h2>{{account.surname}} {{account.name}} </h2>
      </div>
  </div>
  <div class="container containerLeft">
    <div class="bloc">

      <h2>Votre photo de profil</h2>
      <form ref='uploadForm' id='uploadForm' (submit)="upload($event);" action='http://localhost:4200/api/account/upload' method='post'  enctype="multipart/form-data" >
        <input type="hidden" name="id" value="{{ account.id }}"/>
        <img *ngIf="!account.photo" id="imgAccount" src="./assets/images/no_picture.png" alt="account picture" class="img-thumbnail">
        <img *ngIf="account.photo" id="imgAccount" [src]="cleanURL(account.photo)" alt="photo de profil" class="img-thumbnail">
        <div class="form-group">
          <input name="file" (change)="fileChangeEvent($event)" type="file" class="form-control-file" id="file" aria-describedby="fileHelp">
          <small id="fileHelp" class="form-text text-muted">Modifiez votre photo de profil.</small>
        </div>
        <div class="validationForm">
          <button type="submit" class="btn btn-primary">Modifier la photo</button>
          <div id="form4" class="containerAlert"></div>
        </div>
      </form>
    </div>

    <div class="bloc">
      <h2>Vos informations</h2>
      <form enctype="multipart/form-data" id="formAccount" (submit)="updateAccount($event)">
        <div class="form-group">
          <label for="email">Email</label>
          <input [(ngModel)]="account.email" name="email" type="email" readonly class="form-control" id="email">
        </div>
        <div class="form-group">
          <label for="name">Nom</label>
          <input [(ngModel)]="account.name" name="name" type="text" class="form-control" id="name" placeholder="Entrez votre nom" required>
        </div>
        <div class="form-group">
          <label for="name">Prénom</label>
          <input [(ngModel)]="account.surname" name="surname" type="text" class="form-control" id="surname" placeholder="Entre votre prénom" required>
        </div>
        <div class="validationForm">
          <button type="submit" class="btn btn-primary">Modifier les informations</button>
          <div id="form1" class="containerAlert"></div>
        </div>
      </form>
    </div>
  </div>
  <div class="container containerRight">
      <div class="bloc">
        <h2>Modification de votre adresse Email</h2>
        <form id="formEmail" (submit)="updateAccount($event)">
          <div class="form-group">
            <label for="email">Votre nouvelle adresse-email</label>
            <input [(ngModel)]="account.email" name="email" type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Entrez votre adresse Email" required>
            <small id="emailHelp" class="form-text text-muted">Votre adresse email ne sera pas communiqué.</small>
          </div>

          <div class="validationForm">
            <button type="submit" class="btn btn-primary">Changer mon adresse Email</button>
            <div id="form2" class="containerAlert"></div>
          </div>
        </form>
      </div>
      <div class="bloc">
        <h2>Modification de votre mot de passe</h2>
        <form id="formMdp" (submit)="updateAccount($event)">
          <div class="form-group">
            <label for="mdp">Mot de passe</label>
            <input type="password" class="form-control" id="mdp" placeholder="Mot de passe" value="" required>
          </div>
          
          <div class="validationForm">
            <button type="submit" class="btn btn-primary">Changer mon mot de passe</button>
            <div id="form3" class="containerAlert"></div>
          </div>
        </form>
      </div>
  </div>
</div>



